<div class="container">
<h1>Edition du gossip n°<%= @gossip.id %></h1>

        <%= form_for @gossip, url: {action: "update"} do |g| %>

        <div class="form-group">
            <label>Anonymous author :</label><br>
            <%= g.text_field :anonymous_author %><br>
        </div>
        <div class="form-group">
            <label>Content :</label><br>
            <%= g.text_area :content, size: "50x3" %><br>
        </div>
        <div class="form-group">
            <button type=submit class="btn btn-primary">Modifier le gossip</button>
        </div>
        <div class="form-group">
            <a href="<%= gossips_path %>" class="btn btn-default">Retour en arrière</a>
        </div>
        <div class="form-group">
            <a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger" data-method="DELETE" data-confirm="On supprime vraiment ?">Supprimer le gossip</a>
        </div>

        <% end %>

</div>
