  <div class="container form-control border rounded border-primary">
<h3>Gossip écrit par <strong><%= @gossip.anonymous_author %></strong> :</h3>
<p><%= @gossip.content %></p>

  <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-outline-primary">Change ce gossip !</a>
</div>

<div class="container">
    <% @comments.each_with_index do |comm, i| %>
    <div class="form-control border-info">
      <p><strong><%= comm.anonymous_commentor %></strong> - <span class="text-muted"><%= i+1 %></span></p>
      <p><%= comm.body %></p>

      <a href="<%= edit_gossip_comment_path(comm.id) %>" class="btn btn-outline-info">Modifie ton com'</a>
    </div>
    <% end %>
</div>

<div class="container">
  <%= form_for([@gossip, @comment], {action: "create"}) do |com| %>

  <div class="form-group">
      <label>Anonymous Commentor :</label><br>
      <%= com.text_field :anonymous_commentor %><br>
  </div>
  <div class="form-group">
      <label>Comment :</label><br>
      <%= com.text_area :body, size: "50x3" %><br>
  </div>
  <div class="form-group">
      <button type=submit class="btn btn-info">Lâche ton com'</button>
  <% end %>
  <a href="<%= gossips_path %>" class="btn btn-success">Retour à la liste</a>
</div>
