<div class="container form-control border rounded border-primary">
    <h3>
      <strong><%= @gossip.anonymous_author %></strong> a balancé que...
    </h3>
    <p class="bg-primary text-white post-content">
      <%= @gossip.content %>
    </p>
    <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-outline-primary">
      Change ce gossip !
    </a>
</div>

<div class="container">
    <% @comments.each_with_index do |comm, i| %>
        <div class="form-control border-info container">
          <p>
            <span class="text-muted">Com' <%= i+1 %></span> - par : <strong><%= comm.anonymous_commentor %></strong>
          </p>
          <p class="bg-info text-white post-content">
            <%= comm.body %>
          </p>
          <a href="<%= edit_gossip_comment_path(comm.id) %>" class="btn btn-outline-info">
            Modifie ton com'
          </a>
        </div>
    <% end %>
</div>

<div class="container form-control border border-warning rounded">
  <%= form_for([@gossip, @comment], {action: "create"}) do |com| %>

  <p><strong>Commente ce gossip à ton tour !</strong></p>
  <h4 class="text-danger" id="error"><%= flash[:error] %></h4>
  <div class="form-group">
      <label>Mets ton pseudo :</label><br>
      <%= com.text_field :anonymous_commentor %><br>
  </div>
  <div class="form-group">
      <label>Dis nous tout !</label><br>
      <%= com.text_area :body, size: "50x3" %><br>
  </div>
  <div class="form-group">
      <button type=submit class="btn btn-info">Lâche ton com'</button>
  <% end %>
  <a href="<%= gossips_path %>" class="btn btn-success">Retour à la liste</a>
</div>
